.header {
	margin:0.5%
}


footer {margin-top:32px;}
hr {border-top: 1px solid rgba(0,0,0,0.36);}
.contact {
	max-width: 250px;
	margin: 32px auto;
}
.social {
 	font-size: 24px;
 	color: rgba(0,0,0,0.80);
 	display: inline-block;
 	margin: 12px;
}
.social:hover {
 	color: #174ECA;
 	transition: color 0.2s;
}
footer p {
 	text-align: center;
}
