body {
	font-family: 'Arial', serif;
	font-size: 1em;
	line-height: 1.5;
	color: rgba(0,0,0,0.76);
}
nav {
	font-family: 'Averta', sans-serif;
	font-size: 1.5em;
}
.container{margin:5%}
.main-header {font-size: 2em;}
footer {margin-top:32px;}
hr {border-top: 1px solid rgba(0,0,0,0.36);}
.social-media {
	max-width: 250px;
	margin: 32px auto;
}
.social {
 	font-size: 24px;
 	color: rgba(0,0,0,0.80);
 	display: inline-block;
 	margin: 12px;
}
.social:hover {
 	color: #174ECA;
 	transition: color 0.2s;
}
footer p {
 	text-align: center;
}
